  on:
    push:
      branches:
        - master
        - develop
      tags:
        - 'deactivated.*.*.*'
  jobs:
    build:
      strategy:
        matrix:
          java-version: [ '16' ]
          os: [ 'ubuntu-latest']
      runs-on: ${{ matrix.os }}
      steps:
        - name: Checkout Source Code
          uses: actions/checkout@v1
        - name: Setup Java ${{ matrix.java-version }}
          uses: actions/setup-java@v1
          with:
            java-version: ${{ matrix.java-version }}
            architecture: x64
        - name: Build with gradle
          run: ./gradlew build
        - uses: "actions/upload-artifact@v2"
          with:
            path: |
              build/libs/worldborderapi-*.jar
              !build/libs/worldborderapi-*.dev.jar
        - uses: "actions/upload-artifact@v2"
          with:
            path: |
              build/libs/worldborderapi-*-dev.jar
        - name: Release
          uses: softprops/action-gh-release@v1
          if: startsWith(github.ref, 'refs/tags/')
          with:
            files: |
              build/libs/worldborderapi-*.jar
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

